@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic');
@import url('https://fonts.googleapis.com/css?family=Cambay');
@import url('https://fonts.googleapis.com/css?family=Katibeh');

* {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


h1,h2,h3,h4,h5,h6 {
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
}
.container {
    outline: none;
}


.rightNav, .leftNav{
    position: fixed;
    top: 50%;
    font-size: 50px;
    margin-top: -25px;
    color: #dedee4;
    text-decoration: none;
}
.rightNav:hover, .leftNav:hover {
    color: #c4c2e4;
}

.leftNav {
    left: 10px;
}
.rightNav {
    right: 10px;
}

.logo {
    /*font-family: 'Cambay', sans-serif;*/
    font-family: 'Katibeh', cursive;

    position: fixed;
    top: 10px;
    left: 10px;

    text-decoration: none;
    font-size: 3em;
    font-weight: 500;
    font-style: italic;
    color: #c3c3c3;
}
