
.fpPanelOuter {
    overflow-x:auto;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 80px;
}


.fpPanel { 
    border-collapse:collapse;
    width: 50%;
    /*height: 30px;*/
    margin: 0 auto;
}


.fpPanel th {
  position: relative;
  padding: 10px; 
  height: 110px;
}

.fpPanel th span {
  transform-origin: 0 50%;
  transform: rotate(-45deg); 
  white-space: nowrap; 
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: normal;
  font-size:12px;
}


.fpPanel td {
    cursor:pointer;
    width:20px; 
    height:20px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px;
}
.fpPanel td.include {
    background-color:black;
    font-weight:bold; 
    color:white;
}
.fpPanel td.exclude {
    background-color:#545454;
    font-weight:bold; 
    color:#696969;
}
.fpPanel td.ignore {
    background-color: white;
}


