/* Outer fingerprint panel frame*/

.fpPanelOuter {
  max-width: 50%;
  max-height:150px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/*Fingerprint selection query menu*/
.fpPanel { 
  border-collapse:collapse;
  width: 50%;
  margin: 0 auto;
}


.fpPanel th {
  position: relative;
  padding: 10px; 
  height: 120px;
}


.fpPanel th span {
  transform-origin: 0 50%;
  transform: rotate(-45deg); 
  white-space: nowrap; 
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: normal;
  font-size:12px;
}


.fpPanel td {
  cursor:pointer;
  width:20px; 
  height:20px;
  border:1px solid #ccc;
  text-align:center;
  font-family:sans-serif; 
  font-size:13px;
  color:white;

}
.fpPanel td.include {
  background-color:white;
  color:black;
}
.fpPanel td.exclude {
  background-color:white;
  color:black;
}
.fpPanel td.ignore {
  background-color: white;
  color:white;
}

.fpPanel td.hover {
  background-color:purple;
}

/* Scrolldown selection menu*/
.fpScrolldown { 
  border-collapse:collapse;
  width: 50%;
  margin: 0 auto;
}

.fpScrolldown tbody, .fpScrolldown thead{
  display:block;
}


.fpScrolldown tbody{
  overflow:auto;
  height:100px;
}


.fpScrolldown th {
  position: relative;
  padding: 10px; 
  height: 10px;
}



.fpScrolldown th span {
  transform-origin: 0 50%;
  transform: rotate(-45deg); 
  white-space: nowrap; 
  position: absolute;
  bottom: 0;
  left: 50%;
  font-weight: normal;
  font-size:12px;
}


.fpScrolldown td {
  cursor:pointer;
  width:20px; 
  height:20px;
  border:1px solid #ccc;
}


.fpScrolldown td.include {
  background-color:#acacac;
}
.fpScrolldown td.exclude {
  background-color:white;
}
.fpScrolldown td.ignore {
  background-color: white;
}


