@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display');*/

/* Styling for button */
 .fileUpload {
     position: relative;
     overflow: hidden;
 }
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*<!-- Styling for social buttons -->*/

.btn-social {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid #222;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 37px;
}
.btn-outline {
    color: #222;
    font-size: 15px;
    border: solid 2px #222;
    background: transparent;
    transition: all 0.3s ease-in-out;
    margin-top: 15px;
}
.btn-outline:hover {
    background: #337AB7;
    color: white;
}


/* Styling for page */
body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.example-item {
    /* custom max width */
    max-width:200px;
}

ul.nav a:hover {
    /* remove default gray background from */
    background-color: transparent;
}

.navbar {
    padding: 0.2rem;
    border-bottom-color: #b2b2b2;

}

.rdivider {
    border-right: 1px solid #eee;
}

nav a {
    color: black;
}
@media (min-width: 768px) {
    nav a {
        font-size: 1.5rem;
    }
}

nav, h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Playfair Display', serif;*/
}

.navbar-brand {
    font-size: 3.0rem;
}

.nav-active {
    font-weight: 700;
}

@media (min-width: 1200px) {
    .side-bar {
        margin-top: 200px;
    }
}
#maincontent {
    margin-bottom: 20px;
}

.fpPanel{
    margin: 0;
}

footer {
    margin-top: 6rem;
    background-color: #F7F7F7;
    border-top: 1px solid #BBB;
    border-top-width: 1px;
    border-top-color: #BBB;
}
.footer-below {
    padding: 2rem;
}